### Quickstart for {{ project_name }}

- Install [uv](https://docs.astral.sh/uv/getting-started/installation/)
- Create virtual env and init git if not done yet. Install dev dependencies
  - `uv venv`
  - `git init`
  - `uv pip install -r requirements_dev.txt`

- Install requirements and lint the project using [Tasks](https://taskfile.dev)
  - task dev

- Run the project
  - `python main_{{ project_slug_underscore }}.py`
